input[type="text"], select {
	width: 100%;
	padding: 10px;
	line-height: 1.5;
}

select {
	option {
		line-height: 1.5;
		padding:12px 0px 10px 24px;
	}
}

/* bootstrap grid custom */
.container {
	&.container_padding_top_bottom {
		padding-top: 70px;
		padding-bottom: 70px;
	}

	> .title {
		display: table;
		margin: 0 auto;
		h2 {
			text-align: center;
			text-transform: uppercase;
			color: #fff;
			font-weight: 700;
			font-size: 1.6em;
			line-height: 1;
			margin-bottom: 15px;

			span {
				color: #ff0000;
			}
		}
		p {
			text-align: center;
			text-transform: capitalize;
			font-size: 0.9em;
			color: #fff;
			margin: 0;
			margin-bottom: 15px;
		}

		&:after {
			content: '';
			display: block;
			background-color: #fff;
			height: 1px;
			margin-bottom: 30px;
		}
	}

	> .row {
		&.gutter-2 {
			margin-left: -15px;
			margin-right: -15px;
			margin-bottom: -30px;
			> [class^="col-"] {
				padding-left: 15px;
				padding-right: 15px;
				padding-bottom: 30px;
			}
		}
	}

	p {
		color: #fff;
		font-size: 0.9em;
		text-align: justify;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	ul {
		color: #fff;
    	font-size: 0.9em;
    	margin-top: 15px;
   		margin-bottom: 15px;
   		padding-left: 30px;
	}

	a {
		color: #ff0000;
	}

	&.sub-content-with-bg, &.sub-content{
		padding-top: 30px;
		padding-bottom: 30px;
		background-color: rgba(0,0,0,0.3);
		h3 {
			color: #fff;
			font-size: 1.5em;
			text-align: center;
			font-weight: 700;
		}
	}

	&.sub-content {
		background-color: transparent;
	}
}

.thin-palallelogram {
	display: inline-block;
	margin-right: 10px;
	span {
		color: #ff0000;
		font-size: 1.1em;

		&:first-child {
			font-weight: 300;
		}
		&:nth-child(2) {
			font-weight: 700;
		}
	}
}

.tabs {
	.h_tabs {
		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-bottom: 5px;

			li {
				width: 100%;
				max-width: 25%;
				margin-right: 5px;

				a {
					position: relative;
					display: block;
					color: #fff;
					background-color: rgba(56,69,72,0.5);
					text-align: center;
					font-weight: 700;
					padding: 15px;
					line-height: 1;

					transition: all 0.2s ease;

					&:after {
						position: absolute;
						content: '';
						top: 100%;
						left: 50%;
						transform: translateX(-50%);
						border-top: 7px solid #ff0000;
						border-left: 17px solid transparent;
						border-right: 17px solid transparent; 
						opacity: 0;

						transition: all 0.2s ease;
					}

					&.active {
						background-color: #ff0000;

						&:after {
							opacity: 1;
						}
					}
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	.h_panel {
		
		> [id^="p_"] {

			height: 0;
			opacity: 0;
			visibility: hidden;
			overflow: hidden;

			&.active_panel {
				height: auto;
				opacity: 1;
				visibility: visible;
				overflow: visible;
			}	
		}

		

		.h_panel_head {
			padding: 15px 25px;
			background-color: rgba(0,0,0,0.3);
			color: #fff;
			font-weight: 700;
			line-height: 1;
			margin-bottom: 5px;

			display: none;

			&.active {
				background-color: #ff0000;
			}
		}
		.inner_panel {
			padding: 25px 30px;
			margin-bottom: 5px;
			background-color: rgba(0,0,0,0.3);

			table {
				tr {
					border-bottom: none;
					td {
						padding: 10px 0;
						border-top: 1px solid #767676;

						ul {
							padding: 0;
							margin: 0;
							list-style-type: none;

							li {
								float: left;
								width: 25%;
								color: #fff;
								font-weight: 700;
								font-size: 1.2em;
								text-transform: capitalize;
								padding: 5px;
								position: relative;
	    						padding-left: 20px;

								&:before {
									content: '\f061';
									font-family: 'FontAwesome';
									color: #ff0000;
									margin-right: 10px;
									position: absolute;
									left: 0;
								}
							}

							&:after {
								content: '';
								display: block;
								overflow: hidden;
								height: 0;
								opacity: 0;
								clear: both;
							}
						}

						&.tab_content {
							border-top: 0;
							border-bottom: 0;
							padding-bottom: 20px;
							p {
								color: #fff;
								font-size: 1.2em;
								text-transform: none;
								margin: 0;
								padding: 0;
								text-align: justify;
							}
						}

						&:first-child {
							text-transform: uppercase;
							font-size: 0.7em;
							color: #bbb;

							&.tab_heading {
								color: #fff;
								font-weight: 700;
								font-size: 1.3em;
								border-top: 0;
								text-transform: capitalize;
							}
						}
						&:nth-child(2) {
							color: #fff;
							font-weight: 700;
							text-align: right;
							font-size: 0.9em;
						}
					}
				}
			}
		}	
	}
	
}
.white-popup {
	position: relative;
	background: #0e1315;
	padding: 20px;
	width: auto;
	max-width: 350px;
	margin: 20px auto;
}

.lao_form {
	.lf_header {
		margin-top: 0px;
		text-align: center;
		color: #fff;
		font-weight: 700;
		text-transform: capitalize;
		font-size: 1.3em;
		padding-bottom: 10px;
		border-bottom: 1px solid rgba(255,255,255,0.1);
		margin-bottom: 10px;
	}

	> div {
		margin-top: 20px;
		margin-bottom: 20px;
		label {
			line-height: 1;
			font-size: 0.8em;
			color: #999;
			text-transform: capitalize;
			font-weight: 400;
			margin-bottom: 5px;
		}
		input[type="text"], input[type="email"], input[type="number"], textarea {
			padding: 7px 15px;
			font-size: 1em;
			border-radius: 3px;
		}
		input[type="submit"] {
			background-color: #ff0000;
		}
		textarea {
			resize: none;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.wpcf7-form .wpcf7-response-output.wpcf7-validation-errors {
	color: #D8000C;
	background-color: #FFBABA;
	border: 0;
	padding: 10px;
}
.wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ok {
	color: #4F8A10;
	background-color: #DFF2BF;
	border: 0;
	padding: 10px;
}
.wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ng, .wpcf7-form .wpcf7-response-output.wpcf7-spam-blocked {
	color: #D8000C;
	background-color: #FFBABA;
	border: 0;
	padding: 10px;
}
div.wpcf7-mail-sent-ok:before,div.wpcf7-validation-errors:before,div.wpcf7-mail-sent-ng:before, div.wpcf7-spam-blocked:before {
	margin-right: 8px;
	vertical-align: middle;
}
div.wpcf7-mail-sent-ok:before {
	content: "\f147";
	font-family: 'FontAwesome'

}
div.wpcf7-validation-errors:before {
	content: "\f00d";
	font-family: 'FontAwesome'
}
div.wpcf7-mail-sent-ng:before, div.wpcf7-spam-blocked:before {
	content: "\f00d";
	font-family: 'FontAwesome'
}

.page_navigation {
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {
			float: left;

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 35px;
				height: 35px;
				margin: 0;
				background-color: #353a3e;
				color: #fff;
				font-size: 0.9em;
				border: none;
				border-radius: 3px;
				margin-right: 5px;

				&:hover {
					background-color: #6b757d;
				}

				&.prev, &.next {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 35px;
					height: 35px;
					margin: 0;
					background-color: #353a3e;
					color: #fff;
					font-size: 0.9em;
					border: none;
					border-radius: 3px;
					margin-right: 5px;
				}
			}

			span.current {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 35px;
				height: 35px;
				margin: 0;
				color: #fff;
				font-size: 0.9em;
				border: none;
				border-radius: 3px;
				margin-right: 5px;
				background-color: #ff0000;
			}
		}
		&:after {
			content: '';
			display: block;
			clear: both;
			height: 0;
			overflow: hidden;
			opacity: 0;
			visibility: hidden;
		}
	}
}
.no_result {
	color: #fff;
}
