.accessories {

	h3 {
		color: #fff;
		font-size: 1.5em;
		text-align: left;
		font-weight: 700;
		line-height: 1;
		margin: 0;
		margin-bottom: 20px;
	}

	> .row {
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: -30px;
		> [class^="col-"] {
			padding-left: 15px;
			padding-right: 15px;
			padding-bottom: 30px;
		}
	}

	.a_accessories {
		background-color: rgba(0,0,0,0.3);
		padding: 20px;
	}

	.m_accessories {
		max-width: 350px;
		margin: 0 auto;
		h4 {
			color: #fff;
			text-align: center;
			padding-top: 0;
			font-weight: 400;
			font-size: 0.9em;
		}
		.ma_button {
			text-align: center;
			border-bottom: 1px solid #fff;
			padding-bottom: 10px;
			margin-bottom: 0;
			button {
				padding: 7px 15px;
				font-weight: 400;
				font-size: 1em;
			}
		}
	}
}