.blogs {
	.blog_container {
		.blog_tile {
			background-color: rgba(0,0,0,0.3);
			max-height: 230px;
			margin-bottom: 20px;

			h3 {
				color: #fff;
				font-size: 1.2em;
				text-align: left;
				font-weight: 700;
				line-height: 1.5;
				margin: 0;
				margin-bottom: 20px;
			}
			.b_image {
				float: left;
				width: 270px;
				height: 230px;
				background-image: url('../images/no_image.jpg');
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
			}
			.b_excerpt {
				float: left;
				width: calc(100% - 270px);
				padding: 20px;

				> p {
					max-height: 63px;
					overflow: hidden;
				}
			}
			.b_read_more {
				display: block;
				padding: 7px 15px;
				background-color: #333;
				color: #fff;
				text-align: center;
				max-width: 140px;
				border-radius: 3px;

				&:hover {
					background-color: #ff0000;
					color: #fff;
				}
			}
			&:after {
				content: '';
				display: block;
				clear: both;
				height: 0;
				overflow: hidden;
				opacity: 0;
				visibility: hidden;
			}
		}	
	}
}