.finance {
	.calculator_container {
		max-width: 768px;
		overflow-y: auto;

		table {
			width: 100%;
			min-width: 360px;
			margin: 0;
			tr {
				border-bottom: 0px;
				td {
					color: #fff;
					input[type="number"], input[type="text"] {
						width: 100%;
						padding: 8px 15px;
						font-size: 1em;
						border-radius: 3px;
					}
				}

				&:first-child {
					td {

					}
				}

				&:nth-child(2) {
					td {
						&:nth-child(2) {
							display: flex;
							align-items: center;

							input[type="number"] {
								margin-right: 10px;
							}
						}
					}
				}

				&:nth-child(5) {
					td {
						padding-top: 15px;
						padding-bottom: 15px;
						input[type="text"] {
							padding: 0;
							width: 25px;
							border: 0;
							text-align: center;
							display: inline-block;
							background-color: transparent;
							color: #fff;
							font-size: 1.3em;
						}

						p {
							text-align: left;
							margin: 0;
							display: block;
						}
					}
				}
				&:nth-child(6), &:nth-child(7), &:nth-child(8), &:nth-child(9), &:nth-child(10) {
					td {
						input[type="text"] {
							float: none;
							width: 100%;
							margin-right: 10px;
							margin-left: 10px;
						}

						&:nth-child(2) {
							display: flex;
							align-items: center;
							justify-content: center;
						}
					}
				}
				&:nth-child(11) {
					td {
						padding-top: 15px;
						padding-bottom: 15px;

						input[type="text"] {
							margin-top: 5px;
						}
					}
				}
				&:nth-child(12) {
					td {
						line-height: 1.5;
					}
				}
				&:nth-child(13) {
					td {
						padding-top: 15px;
						padding-bottom: 0;
						p {
							margin: 0;
						}
					}
				}
			}
		}
	}
}