@import '_variables.scss';
@import 'animation.scss';

* {
	box-sizing: border-box;
}

html, body {
	font-family: 'Montserrat', Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

iframe {
	margin: 0;
	display: block;
}

.lao_right_sidebar, .lao_left_sidebar {
	position: fixed;
	z-index: 99;
	height: 100%;
	background-color: rgba(56, 69, 72, 0.5);
}

.lao_left_sidebar {
	left: 0;
	top: 0;
	bottom: 0;
	padding: 15px;
	overflow-y: visible;

	.lao_lsb_container {
		> div {
			&:first-child {
				text-align:center;
    			margin-bottom: 15%;
			}

			&:nth-child(3) {
				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;

					li {
						float: left;
						a {
							display: flex;
							width: 34px;
							height: 34px;
							color: #fff;
							text-decoration: none;
							align-items: center;
							justify-content: center;
						}

						&:first-child {
							a {
								background-color: #3b5998;
							}
						}
						&:nth-child(2) {
							a {
								background-color: #1da1f2;
							}
						}
						&:nth-child(3) {
							a {
								background-color: #dd4b39;
							}
						}
						&:nth-child(4) {
							a {
								background-color: #c13584;
							}
						}
						&:nth-child(5) {
							a {
								background-color: #ff0000;
							}
						}
					}

					&:after {
						content: '';
						display: block;
						clear: both;
						overflow: hidden;
						opacity: 0;
						height: 0;
						visibility: hidden;
					}
				}
			}
		}
	}

}

.lao_page {
	.page_header {
		position: relative;
		width: 100%;
		height: 398px;
		background-image: url('../images/default-page-header.jpg');
		background-size: cover;
		background-position: 50% 0;
		margin-bottom: 30px;

		h2 {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 15px;
			margin: 0;
			padding: 0;
			color: #fff;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
			font-weight: 700;
			font-size: 2.5em;
		}
	}
}

.lao_ls_search {
	.cd_hide {
		display: none !important;
	}

	.cdsf_item {
		margin-bottom: 15px;

		[id^="label_"] {
			display: none;
		}
		#label_price_range {
			display: block;
			text-align: left;
			color: #fff;
			font-weight: 700;
			font-size: 0.9em;
			text-transform: uppercase;
		}
		input[type="text"] {
			display: none;
			&#price_range {
				display: block;
				background-color: transparent;
				border: 1px solid #fff;
				padding: 7px 10px;
				font-size: 0.9em;
				text-align: center;
				color: #fff;
				border-radius: 0;
				user-select: none;
				margin-bottom: 15px;
			}
		}

		#cdsf_button_box {
			input[type="submit"] {
				width: 100%;
			}
		}

		#price_range_box {
			#price-slider {
				height: 0.3em;

				.ui-widget-content { background: purple; }

				.ui-slider-handle {
					top: -0.5em;
					border-radius: 50%;
				}
			}
		}
		.selectBox {
			position: relative;
    		height: 37px;
			.selected {
				border: 1px solid #fff;
				width: 100%;
				height: auto;
				padding: 7px 10px;
				color: #fff;
				font-weight: 700;
				font-size: 0.9em;
				line-height: 1.5;
				user-select: none;
				cursor: pointer;
			}
			.selectArrow {
				margin-left: -20px;
				line-height: 2.3;
				display: inline-block;
				color: #ff0000;
			}
			.selectOptions {
				z-index: 99;
				position: absolute;
				display: none;
				min-width: 170px;
				max-height: 300px;
				overflow-y: auto;
				.selectOption {
					display: block;
					background-color: #fff;
					font-size: 0.9em;
					padding: 7px 10px;
					&.apply_hide {
						display: none !important;
					}
				}
			}
		}
		[class^="cdsf_apply"] {
			display: none;
		}
	}

	#reset_cdsf_filters {
		display: none;
		text-align: center;
	}
}

.lao_right_sidebar {
	right: 0;
	top: 0;
	bottom: 0;
	padding: 15px;

	.lao_lrb_container {
		.lang-switcher {
			margin-top: 50px;
			> select {
				background-color: transparent;
				border: 1px solid #ff0000;
				border-radius: 0px;
				color: #ff0000;
				appearance: none;
				background-image: url('../images/down.png');
				background-repeat: no-repeat;
				padding: 7px 30px 7px 10px;
				background-position: 95% 50%;
				font-size: 0.9em;
				text-transform: uppercase;
				height: auto;

				&::-ms-expand { 
					display: none;
				}

				&:focus {
					background-color: #ff0000;
					color: #fff;
				}
			}
		}

		.main_menu {
			margin-top: 30px;
			ul {
				list-style-type: none;
				li {
					a {
						display: block;
						text-transform: capitalize;
						color: #fff;
						font-size: 1em;
						padding: 7px 0;
						line-height: 1;
					}

					/* &.menu-item-has-children {
						a {
							position: relative;
							
						}
					} */
				}
			}
		}

		.contact_details {
			ul {
				list-style-type: none;
				li {
					a {
						display: flex;
						align-items: center;
						color: #fff;
						padding: 7px 0;
						.fa {
							margin-right: 10px;
							font-size: 1.5em;
						}
					}
				}
			}
		}

		.join_us {
			margin-top: 30px;
			a {
				display: inline-block;
				background-color: #6b757d;
				border-right: 2px solid red;
				color: #fff;
				padding: 8px 20px;
				text-transform: uppercase;
				font-size: 0.9em;

				transition: background 0.2s ease;

				&:hover {
					background-color: #353a3e;
				}

				.fa {
					font-size: 1.6em;
					margin-left: 10px;
				}
				border-radius: 3px 0 0 3px;
			}
		}
	}
}

.welcome {
	padding: 50px 30px;

	.lao_welcome {
		h3, p {
			color: #fff;
			margin: 0;
		}

		h3 {
			text-transform: capitalize;
			font-weight: 700;
			font-size: 1.5em;
			margin-bottom: 30px;
		}

		p {
			text-align: justify;
			font-size: 0.9em;
		}
	}

	.lao_welcome_video {
		border: 7px solid #fff;
	}
}
.newsletter_subscription {
	background-color: #000;
	padding: 25px 15px;

	> .container {
		> .row {
			> [class^="col-"] {
				&:first-child {
					span {
						background-color: #ff0000;
						color: #fff;
						display: block;
						line-height: 1;
						font-size: 0.7em;
						padding: 7px 15px;
						max-width: 150px;
						text-align: center;
						margin: 0 auto;
						border-radius: 2px;
						margin-bottom: 10px;
					}
					h3 {
						color: #fff;
						text-align: center;
						margin: 0;
						padding: 0;
						text-transform: uppercase;
						font-weight: 700;
						font-size: 1.1em;
						line-height: 1;
					}
				}
				&:nth-child(2) {
					p {
						margin: 0;
						padding: 0;
						text-transform: uppercase;
						font-size: 0.55em;
						color: #fff;
						text-align: center;
						margin-bottom: 10px;
					}
					.ns_form {
						display: flex;
						align-items: center;
						justify-content: center;
						> div {
							position: relative;
							padding-right: 10px;
							.fa {
								position: absolute;
								top: 50%;
								left: 17px;
								transform: translateY(-50%);
								color: #666;
								font-size: 1.2em;
								z-index: 1;
							}
							input[type="text"], input[type="email"] {
								border-radius: 200px;
								padding: 7px 15px;
								background-color: #333;
								padding-left: 45px;
								border: 0;
								color: #fff;

								&::placeholder {
									color: #fff;
									opacity: 1;
								}
							}
						}
						button[type="submit"] {
							border-radius: 50%;
							background-color: #ff0000;
							width: 40px;
							height: 40px;
							color: #fff;
							padding: 0;
						}
					}
				}
			}
		}
	}
}
#testimonial_home {
	.testimonial-tile {
		margin-left: 7px;
		margin-right: 7px;
		border: 5px solid #fff;

		> div {
			&:first-child{
				padding: 15px;
				background-color: transparent;
				position: relative;

				h4 {
					margin: 0;
					padding: 0;
					text-align: center;
					color: #fff;
					text-transform: capitalize;
					font-size: 1em;
				}

				figure {
					margin: 0 auto 20px auto;
					max-width: 100px;
					border-radius: 50%;
					overflow: hidden;
				}

				&:after {
					content: "";
					border-top: 20px solid #586168;
					border-right: 15px solid transparent;
					border-left: 15px solid transparent;
					position: absolute;
					top: 100%;
					left: 50%;
					transform: translateX(-50%);
				}
			}
			&:nth-child(2) {
				padding: 15px;
				padding-top: 30px;
				background-color: #acacac;
				p {
					color: #000;
					font-style: italic;
					text-align: center;
					font-size: 0.8em;
					margin: 0;
				}
			}
		}
	}
}

.why_choose_us {
	position: relative;
	padding-left: 75px;

	.fa {
		position: absolute;
		color: #ff0000;
		font-size: 3em;
		top: 0;
		left: 0;
		width: 62px;
    	text-align: center;
	}
	h3 {
		text-transform: uppercase;
		color: #fff;
		font-weight: 700;
		font-size: 1em;
		margin: 0;
		padding: 0;
		text-align: left;
		margin-bottom: 15px;
	}
	p {
		color: #fff;
		text-align: justify;
		margin: 0;
    	font-size: 0.9em;
	}
}

footer {
	.footer_top {
		background-color: #ff0000;
		padding: 15px 0px;

		#footer_car_logo {
			.footer_car_logo {
				margin-left: 15px;
				margin-right: 15px;
				height: 70px;
				display: flex;
				align-items: center;
				justify-content: center;
				a {
					img {
						max-height: 55px;
						max-width: 100px;
					}
				}
			}
		}
	}
	.footer_middle {
		background-color: #333;
		padding-top: 50px;
		padding-bottom: 50px;

		.container {
			> .row {
				margin-left: -30px;
				margin-right: -30px;

				[class^="col-"] {
					padding-left: 30px;
					padding-right: 30px;
				}
			}
		}

		.fm_tile {
			&.about_footer {
				h2 {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					margin-bottom: 15px;
					text-transform: capitalize;

					img {
						max-width: 40px;
						margin-right: 10px;
					}
					color: #fff;
					font-weight: 700;
					font-size: 1em;
					text-transform: uppercase;
				}
				p {
					color: #fff;
					font-size: 0.85em;
					margin-bottom: 15px;
					text-align: justify;
				}

				.f_contact {
					margin-bottom: 15px;
					ul {
						list-style-type: none;
						padding: 0;
						margin: 0;

						li {
							a {
								display: flex;
								align-items: center;
								.fa {
									font-size: 1.5em;
									color: #ff0000;
									width: 24px;
									text-align: center;
									margin-right: 5px;
								}
								color: #fff;
							}
						}
					}
				}

				.f_map {
					border-radius: 5px;
					overflow: hidden;
				}
			}
			&.opening_branches {
				h3 {
					color: #ff0000;
					text-transform: uppercase;
					font-size: 1.2em;
					font-weight: 700;
					margin-bottom: 25px;
				}
				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;
				}
				.opening {
					margin-bottom: 30px;
					ul {
						li {
							margin-bottom: 20px;

							&:last-child {
								margin-bottom: 0;
							}
							h4 {
								text-transform: capitalize;
								color: #fff;
								font-size: 0.85em;
								font-weight: 700;
								margin-bottom: 8px;
							}
							p {
								color: #999;
								font-size: 0.9em;
								margin: 0;
							}
						}
					}
				}
				.branches {
					ul {
						li {
							margin-bottom: 10px;
							line-height: 1;
							a {
								display: flex;
								align-items: center;
								.fa {
									color: #ff0000;
									margin-right: 10px;
								}

								color: #fff;
								line-height: 1;
								font-size: 1em;
							}
						}
					}
				}
			}
			&.f_links {
				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;

					li {
						margin-bottom: 7px;
						a {
							display: flex;
							align-items: center;
							font-size: 0.9em;
							.fa {
								color: #ff0000;
								margin-right: 10px;
    							font-size: 0.5em;
							}
							color: #fff;
							&:hover {
								color: #ff0000;
							}
						}
					}
				}
			}
		}
	}
	.footer_bottom {
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: #000;

		.copy {
			text-align: center;
			color: #3a3a3a;
			font-size: 0.8em;
		}
	}
}

.home_new_cars {
	max-width: 450px;
	margin: 0 auto;
	border-bottom: 1px solid #fff;
	margin-bottom: 30px;

	> div {
		&:first-child {
			margin-bottom: 15px;
		}
		&:nth-child(2) {
			color: #fff;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 1.1em;
			margin-bottom: 15px;
		}
		&:nth-child(3) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 15px;

			span {
				color: #fff;
				&:first-child {
					padding: 5px 10px;
					background-color: #ff0000;
				}
				&:nth-child(2) {
					font-size: 0.85em;
				}			
			}
		}
		&:nth-child(4) {
			margin-bottom: 15px;
			ul {
				list-style-type: none;
				padding: 0;
				margin: 0;


				li {
					float: left;
					display: flex;
					align-items: center;
					color: #fff;
					font-size: 0.8em;

					&:after {
						content: '\f111';
						font-family: 'FontAwesome';
						font-size: 0.5em;
						margin: 0 5px;
					}

					&:last-child {
						&:after {
							content: '';
						}
					}
				}

				&:after {
					content: '';
					display: block;
					height: 0;
					overflow: hidden;
					opacity: 0;
					visibility: hidden;
					clear: both;
				}
			}
		}
	}
}

.load_more {
	position: relative;
	display: inline-block;
	border: 3px solid #c2c4c6;
	border-radius: 200px;
	padding: 10px 15px;
	padding-right: 50px;
	background-color: #f5f5f5;
	text-transform: uppercase;
	line-height: 1;

	span {
		position: absolute;
		top: 50%;
		right: -3px;
		transform: translateY(-50%);
		display: block;
		width: 50px;
		height: 50px;
		border: 3px solid #c2c4c6;
		background-color: #f5f5f5;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		.fa {
			color: #a6a7a9;
			font-size: 1.4em;
		}
	}
}

.car_lists_item {
	width: 100%;
	max-width: 992px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	background-color: rgba(0,0,0,0.3);

	.image {
		max-width: 350px;
		margin-right: 30px;
		float: left;
		.inner_image {
			min-height: 204px;
			img {
				max-width: 100%;
				height: auto;
				display: block;
			}
		}
	}
	.content {
		.top {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-top: 15px;
			margin-bottom: 30px;
			a {
				color: #fff;
				font-weight: 700;
				font-size: 1.2em;
			}
			span {
				background-color: #ff0000;
				color: #fff;
				font-size: 1.3em;
				font-weight: 700;
				line-height: 1;
				padding: 10px;
			}
		}
		.middle {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 30px;
			> div {
				span, p {
					display: block;
					margin: 0;
					padding: 0;
					line-height: 1;
				}

				span {
					color: #aaa;
					text-transform: uppercase;
					font-size: 0.7em;
					margin-bottom: 5px;
				}
				p {
					color: #fff;
					font-weight: 700;
				}
			}
			&:after {
				content: '';
				display: block;
				opacity: 0;
				overflow: hidden;
				visibility: hidden;
				clear: both;
			}
		}
		.bottom {
			ul {
				list-style-type: none;
				padding: 0;
				margin: 0;

				display: flex;
				align-items: center;
				justify-content: flex-start;

				li {
					position: relative;
					a.car_lists_item_buttons {
						position: relative;
						display: block;
						background-color: #6b757d;
						color: #fff;
						padding: 7px 15px;
						margin-right: 10px;
						border-radius: 3px;
						font-size: 0.9em;

						transition: all 0.2s ease;

						&:hover {
							background-color: #353a3e;
						}
					}

					.sharing_buttons {
						position: absolute;
						top: 100%;
						left: 0;
						right: -10px;
						background-color: #fff;
						padding: 5px;
						overflow: auto;

						display: none;

						a {
							line-height: 1;
						}
					}
				}
			}
		}
	}
	&:after {
		content: '';
		display: block;
		opacity: 0;
		overflow: hidden;
		visibility: hidden;
		clear: both;
	}
}

.car_lists_filter {
	width: 100%;
	max-width: 992px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;

	h3 {
		color: #ff0000;
		font-weight: 700;
		font-size: 1.5em;
		margin: 0;
	}

	form {
		display: flex;
		align-items: center;
		justify-content: flex-start;

		span {
			text-transform: uppercase;
			color: #fff;
			font-weight: 700;
			margin-right: 10px;
			font-size: 0.9em;
		}

		select {
			width: auto;
			padding: 7px 10px;
			line-height: 1;
			height: auto;
			border-radius: 0px;
			text-transform: uppercase;
			font-size: 0.8em;
		}
	}
}

.lao_car_lists_found {
	width: 100%;
	max-width: 992px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #fff;
	h4 {
		color: #aaa;
		font-weight: 400;
		font-size: 0.9em;
		margin: 0;
	}
}

#demon-content.listing {
	padding-left: 15px;
	padding-right: 15px;
}

.searched_by {
	width: 100% !important;
	max-width: 992px !important;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-bottom: 15px;

	.search_by_item {
		color: #fff;
		background-color: #6b757d;
		font-size: 0.8em;
		padding: 6px 13px;
		border-radius: 2px;
		display: inline-block;
		margin-right: 5px;
		margin-bottom: 5px;

		.remove_search {
			font-weight: 600;
			cursor: pointer;
			padding: 5px;
		}
		.remove_search_title {
			text-transform: capitalize;
		}

		&:hover {
			background-color: #353a3e;
		}
	}
}

#cd-nav-above {
	display: none;
}

.lao_bottom_navigation {
	width: 100%;
	max-width: 992px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;

	.pages, .page, .previouspostslink, .nextpostslink, .current {
		display: inline-block;
		margin: 0;
		background-color: #353a3e;
		color: #fff;
		font-size: 0.9em;
		border: none;
		padding: 7px 15px;
		border-radius: 3px;
		margin-right: 5px;
	}

	.pages {
		background-color: #6b757d;
	}

	.page, .previouspostslink, .nextpostslink {
		&:hover {
			background-color: #6b757d;
		}
	}

	.current {
		background-color: #ff0000;
	}
}

.vehicle_display_view {
	width: 100%;
	max-width: 992px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
	padding-left: 15px;
	padding-right: 15px;

	.vdv_header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #fff;
		padding-bottom: 15px;
		margin-bottom: 10px;

		h1 {
			color: #fff;
			font-weight: 700;
			margin: 0;
			font-size: 1.5em;
		}

		span {
			display: block;
			background-color: #ff0000;
			color: #fff;
			padding: 10px 25px;
			font-size: 1.3em;
			font-weight: 700;
			line-height: 1;
		}
	}

	.vdv_buttons {
		margin-bottom: 10px;
		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;

			display: flex;
			align-items: center;
			justify-content: flex-start;

			li {
				margin-right: 10px;
				color: #fff;
				font-weight: 700;
				font-size: 0.8em;
				text-transform: uppercase;

				a.single_view_buttons {
					display: block;
					padding: 10px 15px;
					background-color: #222;
					color: #fff;
					font-weight: 700;
					text-transform: uppercase;
					border-radius: 3px;

					&:hover {
						background-color: #ff0000;
					}
				}

				&.share_buttons_single {
					display: flex;
					align-items: center;

					.addtoany_shortcode {
						a {
							line-height: 1;
						}
					}
				}
			}
		}
	}

	.vdv_image_view {
		margin-bottom: 30px;
		.large {
			margin-bottom: 10px;
			> div {
				img {
					width: 100%;
					height: auto;
				}
			}
		}
		.thumb {
			overflow: hidden;

			img {
				cursor: pointer;
			}

			.slick-arrow {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				z-index: 99;
				padding: 10px;

				&.slick-prev {
					left: 0;
				}
				&.slick-next {
					right: 0;
				}
			}

			.slick-slide {
				margin: 0 5px;
			}
			.slick-list {
				margin: 0 -5px;
			}
		}
	}
}

#to_top {
	position: fixed;
	bottom: 20px;
	right: 70px;
	width: 40px;
	height: 40px;
	background-color: #000;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
	transition: all 0.3s ease;
	&:hover {
		background-color: #ff0000;
	}
}

.blinder {
	position: fixed;

	&.b_left {
		top: 0;
		right: 50%;
		bottom: 0;
		width: 50%;
		background-color: #000;
		z-index: 9998;
		transition: all 0.5s linear;
	}
	&.b_right {
		top: 0;
		bottom: 0;
		left: 50%;
		width: 50%;
		background-color: #000;
		z-index: 9998;
		transition: all 0.5s linear;
	}
	&.logo {
		top: 50%;
		left: 50%;
		z-index: 9999;
		transform: translate(-50%, -50%);

		img {
			animation: heartbeat 1.5s ease-in-out infinite forwards running;
		}
	}
}
@import 'about-us.scss';
@import 'media@large.scss';
@import '_common.scss';